.surf
    padding: 160px 0 210px
    background: url("../img/poi-bg.svg") right 200px no-repeat
    background-size: auto
    &__subtitle
        text-align: right
        padding-right: 80px
        margin-top: -86px
    &-box
        min-height: 750px
        
