@import "../../../node_modules/slick-carousel/slick/slick.scss"


/* Default styles */
// @font-face
//     font-family: 'Christmas Regular'
//     src: url('../fonts/ChristmasScriptC.eot')
//     src: url('../fonts/ChristmasScriptC.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/ChristmasScriptC.woff') format('woff'),
//     url('../fonts/ChristmasScriptC.ttf') format('truetype')
//     font-weight: normal
//     font-style: normal

body
    font-family: 'Fira Sans', sans-serif
    font-size: 16px
    font-weight: 400
    color: #fff


/* Blocks */
@import "vendor/normalize"
@import "vendor/animate.min"
@import "blocks/global"
@import "vars"
@import "blocks/header"
@import "blocks/aside"
